html {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

canvas {
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
